<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!--Be sure to include your Google project client id-->
<meta name="google-signin-client_id" content="REDACTED">


<div class="header">
    <a id="title" href="{{url_for('landingPage')}}">Movie Catalog</a>
    <div class="right-header">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <div id="signout" class="right-header">
        <a  href="/" onclick="signOut();">Sign out</a>
    </div>
</div>

<script>
function onSignIn(user) {
    var id_token = user.getAuthResponse().id_token;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://localhost:8000/googleoauth');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        item=localStorage.getItem('token');
        if (item){
          localStorage.setItem('token', xhr.responseText);
        }
        else{
          localStorage.setItem('token', xhr.responseText);
          window.location.href='http://localhost:8000';
        }
        console.log('Signed in as: ' + xhr.responseText);
    };
    xhr.send('idtoken=' + id_token);
}
</script>

<script>
function signOut() {
    localStorage.removeItem('token');
    if (gapi.auth2){
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
      console.log('Signed out user');
      });
    }
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://localhost:8000/googleoauth');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
      window.location.href='http://localhost:8000';
    };
    xhr.send('signout');
}
  </script>