{% extends "main.html" %}
{% block content %}
<!--{% include "header.html" %}
{% include "sidebar.html" %}-->
<html>
    <div>
        <h1>Recently Added Movies</h1>
        {% if recentItems != [] %}
        <div class="items">
            {% for i in recentItems %}
            <a href="{{url_for('showItem', category = i.category.name, itemTitle = i.title)}}">{{i.title}}</a>
            ({{i.category.name}})
            <br>
            {% endfor %}
        </div>
        
        

        {% else %}
        <div>
            <p>There are no recent items.</p>
        </div>
        {% endif %}
    </div>
    
</html>

{% endblock %}