{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<div>

    <h1>New Movie</h1>
    
    <form action="#", method="POST">
        Title:
        <br>
        <input type="text" name="title" required>
        <br>
        Description:
        <br>
        <textarea name="desc" rows="10" cols="30" required></textarea>
        <br>

        <!--Change following selection if rebranding-->
        Genre:
        <br>
        <select name="category">
            {% for c in categories %}
            <option value="{{ c.name }}">{{ c.name }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

</div>

{% endblock %}
