<div class="navigation">
    <h1 id="diffHeader">Genres</h1>
    <a href="{{url_for('showCategory', category='Action')}}">Action</a>
    <a href="{{url_for('showCategory', category='Adventure')}}">Adventure</a>
    <a href="{{url_for('showCategory', category='Animated')}}">Animated</a>
    <a href="{{url_for('showCategory', category='Biography')}}">Biography</a>
    <a href="{{url_for('showCategory', category='Comedy')}}">Comedy</a>
    <a href="{{url_for('showCategory', category='Fantasy')}}">Fantasy</a>
    <a href="{{url_for('showCategory', category='Romance')}}">Romance</a>
    <a href="{{url_for('showCategory', category='Science Fiction')}}">Science Fiction</a>
</div>