body {
    background-color: #F8E8E3;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    color: black;
    padding: 25px 25px 25px 25px;
}

h1 {
    color: rgb(5, 64, 90);
    font-weight: bolder;
}

.header {
    background-color: #694D75;
    left: 50%;
    text-align: center;
    font-weight: bold;
}

.navigation {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    z-index: 1;
    left: 0;
    padding-top: 25px;
    overflow-x: hidden;
    background-color: #F6E1DF
}

.navigation a{
    font-size: 20px;
    color: #1B5A75;
    display: block;
    text-decoration: none;
    padding: 6px 8px 6px 14px;
}

.navigation a:hover{
    color: #F45B69;
}

.main{
    margin-left: 200px;
    padding: 0px 10px
}

.items {
    color: rgb(97, 97, 97);
    font-size: 20px;
    font-weight: normal;
}

.items a{
    font-size: 30px;
    color: #F45B69;
    font-weight: bold;
    text-decoration: none;
}

.items a:hover {
    color: #1B5A75;
}

.content {
    padding: 5px 0 25px 25px;
    background-color: rgb(247, 241, 240);
    outline-style: solid;
    outline-color: #3d3d3d;
    outline-width: thin;
}