html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F8E8E3;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(5, 64, 90);
    font-weight: bold;
    font-size: 35px
}

#header1{
    margin-top: 0;
    margin-bottom: 0;
}

#header2{
}

.header {
    background-color: #694D75;
    padding: 5px 75px 5px 150px;
    text-align: left;
}

.header a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 45px;
}

.navigation {
    border-bottom-width: 0;
    margin-right: 20px;
    display: inline-block;
    overflow-x: hidden;
}

.navigation a{
    font-size: 25px;
    display: block;
    color: #1B5A75;
    text-decoration: none;
}

.navigation a:hover{
    color: #F45B69;
}

.main{
    border-left: thin solid #dddddd;
    padding: 0 20px;
    margin: 20px 20px 20px 0px;
    display: inline-block;
}

.items {
    margin-top: 20px;
    color: rgb(97, 97, 97);
    font-size: 20px;
    font-weight: normal;
}

.items a{
    font-size: 25px;
    color: #F45B69;
    font-weight: bold;
    text-decoration: none;
}

.items a:hover {
    color: #1B5A75;
}

.content {
    margin: 15px 75px 0px 150px;
    padding: 5px 25px 25px 25px;
    background-color: rgb(247, 241, 240);
    outline-style: solid;
    outline-color: #3d3d3d;
    outline-width: thin;
}
